* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

// body {
//     display: flex;
//     flex-direction: column;
// }

.siteheader a,
.siteheader a:visited,
.contant-aside a,
.content-aside a:visitied {
    color: #2b2e30;
}

/* Footer */

.site-footer a {
    color: #f0f0f0;
    padding: 1em;
    margin: 0 auto;
}

.social a {
    text-decoration: none;
}

figure {
    float: right;
    width: 20em;
    margin: 1em 0 1em 1em;
    padding: 1em;
    background-color: #ccc;
    overflow: auto;
}

img {
    width: 100%;
}
