html,
body {
    height: 100%;
    background-color: $body-color;
}

// body {
//     display: flex;
//     flex-direction: column;
// }

.siteheader a,
.siteheader a:visited,
.contant-aside a,
.content-aside a:visitied {
    color: $visited;
}

/* Footer */

.site-footer a {
    color: $greyed;
    padding: 1em;
    margin: 0 auto;
}

.copyright {
    color: $greyed;
}

.social a {
    text-decoration: none;
}

figure {
    float: right;
    width: 20em;
    margin: 1em 0 1em 1em;
    padding: 1em;
    background-color: $greyed;
    overflow: auto;
}

img {
    width: 100%;
}
