* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.site-header {
    flex: 0 0 auto;
    padding: 0 1em;
    max-width: 48em;
    margin: 0 auto;
}

.siteheader a, .siteheader a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    padding: 2em;
}

.container {
    max-width: 42em;
    padding: 1em;
    margin: 0 auto;
}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    padding: 2em;
}

.site-footer a {
    color: #f0f0f0;
    max-width: 48em;
    padding: 1em;
    margin: 0 auto;
}

figure {
    float: right;
    width: 20em;
    margin: 1em 0 1em 1em;
    padding: 1em;
    background-color: #ccc;
    overflow: auto;
}

img {
    width: 100%;
}

p {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}
