$site-max-width: 48em;

$magic-number: 28px;
$fontsize-body: 16px;
$lineheight: $magic-number / $fontsize-body;

$base-color: #00f !default; //blue
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 40em !default;

$body-color: rgba(255, 255, 204, 0.6);

$first-contrast: #0097df;
$second-contrast: #ea363b;
$greyed: #ccc;

$gap-width: 1em;

//Links
$visited: #2b2e30;
