.landingpage {
    display:grid;
    gap: 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
    margin-bottom: 1em;
}

.kmom-wrapper {
    display: grid;
    grid-template-columns: 8em 4em auto;
}

.kmom-container {
    // order: 2;
    grid-column: 3;
}

.content-aside {
    // order: 1;
    grid-column: 1;
    h3 {
        margin-top: 1.6em;
        margin-bottom: 1.6em;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        display: inline-block;
        padding: 0;
        margin-top: 1.5em;
    }
    ul li:first-child {
        margin-top: .5em;
    }
    a:hover {
        text-decoration: underline;
    }
}

.kmom-box {
    // padding: 1em;
    border: 1px solid grey;
    grid-column: span 1;
    .kb-content {
        display: grid;
    }
    a {
        text-decoration: none;
        h2 {
            margin-top: 0;
        }
    }
    .kmom-header {
        padding: 1em;
        grid-column: span 2;
        background-color: grey;
    }
    .condenced {
        padding: 1em 0 1em 1em;
        grid-column: 1;
    }
    .arrow {
        padding: 1em 1em 1em 0;
        grid-column: 2;
    }
}

.project {
    grid-column: span 3;
    .kmom-header{
        padding: 1em;
        background-color: grey;
    }
    .arrow{
        text-align: right;
    }
}

@media (max-width: 767px) {
    .landing-page h1,
    .landing-page.project,
    .kmom-box {
        grid-column: span 3;
    }

    .kmom-wrapper {
        grid-template-columns: 33% 33% auto;
    }

    .kmom-container {
        order: 1;
        grid-column: span 3;
    }

    .content-aside {
        order: 2;
        grid-column: span 3;
        ul li {
            display: block;
            margin: 0;
        }
    }
}
