@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Slab:wght@700&display=swap');

body {
    font-size: $fontsize-body;
    line-height: $lineheight;
    // letter-spacing: 1px;
    font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
    // margin-top: 1em;
}

h1 {
    @include fontSize(2.3em);
}

h2 {
    @include fontSize(1.6em);
}

h3 {
    @include fontSize(1.2em)
}

p {
    @include fontSize(1em);
    margin-top: 1em;
}

// p:first-child {
//     margin-top: 0;
// }

ul {
    list-style-position: inside;
    margin-left: .5em;
}

li {
    // margin-top: .5em;
}

li p {
    margin-left: 1em;
}

code,
kbd,
samp,
var {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    color: #000;
    background: #efefef;
    border: 1px solid #777;
    padding: 0 0.2em;
}

code {
    display: block;
    white-space: pre-wrap;
}
